.contact_item a{
    text-decoration: none;
    color: #4b2121;
}

.contact_item p{
    font-size: 20px;
    color: #da9898;
}

@media screen and (max-width: 992px) {
    
    .contact_item p{
        font-size: 10px;
    }
}