.bubbel{
   width: 100px;
   height: 100px;
   background-color: #da9898;
   border-radius: 360px;
   margin: 10px;
   animation-name: skillIcon-animation;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-delay: 1000ms;
   overflow: hidden;
}

@keyframes skillIcon-animation {
    from {
        transform: rotate(0deg);
        transition: ease-out;
    }
    to {
        transform: rotate(359deg);
        transition: ease-in;
    }
}

@media screen and (max-width: 992px) {
    
    .bubbel{
       height: 60px;
       width: 60px;
       padding: 15px;
       margin: 3px;
    }

}
