.skills{
    height: 100vh;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .skills{
        height: 150vh;
     }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
    .skills{
        height: 65vh;
     }
}
   