.about{
    height: 100vh;
    background-color: #7d4f4f;
}

.about h2{
    color: white;
}

.bubbels{
    position: relative;
}

.text{
    font-family: "edu";
    font-size: 20px;
    color: white;
}


@media screen and (max-width: 480px) and (min-width: 320px) {
    .about{
        height: 170vh;
     }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
    .about{
        height: 60vh;
     }
}
