.about{
    height: 100vh;
    background-color: #7d4f4f;
}

.about h2{
    color: white;
}

.bubbels{
    position: relative;
}

.text{
    font-family: "edu";
    font-size: 20px;
    color: white;
}


@media screen and (max-width: 992px) {
    
 .about{
    height: 150vh;
 }
}
