.header{
    height: 100vh;
    background-color: #da9898;
    overflow: hidden;
}

.image{
    position: relative;
}

.img{
    transform: translate(50px, 100px);
    height: 400px;
    width: 400px;
    background-image: url('../../assets/imgs/personal_photo.png');
    background-size: cover;
    border-radius: 200px;
    position: relative;
    z-index: 1;
}

.circle1{
    position: absolute;
    top: 50%;
    left: 5%;
    height: 350px;
    width: 350px;
    border-radius: 200px;
    z-index: 0;
    background-color: rgb(125, 79, 79);
}

.circle2{
    position: absolute;
    top: 40%;
    left: 30%;
    height: 350px;
    width: 350px;
    border-radius: 200px;
    z-index: 0;
    background-color: #4b2121;
}

.circle_animation{
    animation: circle-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2000ms;
    overflow: hidden;
}

h1{
    transform: translate(0, 200px);
    font-size: 40px;
    height: 20px;
}

.header a{
    transform: translate(0, 400px);
}

.btn-brown{
    background-color: #4b2121;
}

.text-pink{
    color: #da9898;
}

.text-pink:hover{
    color: white;
}


@keyframes circle-animation {
    0% {
        transform: scale(1.04);
        transition: ease-out;
    }
    50% {
        transform: scale(1);
        transition: ease-in;
    }
    100% {
        transform: scale(1.05);
        transition: ease-out;
    }
}


@media screen and (max-width: 480px) and (min-width: 320px) {
    .header{
        height:100vh;
     }
 
     .img{
         width: 200px;
         height: 200px;
     }
 
     .circle1{
         width: 150px;
         height: 150px;
         top: 85%;
         left: 10%;
     }
 
     .circle2{
         width: 150px;
         height: 150px;
         top: 80%;
         left: 40%;
     }
 
     h1{
         font-size: 20px;
         transform: translate(0, 150px);
     }

     .header a{
        transform: translate(0, 200px);
    }
}

@media screen and (max-width: 900px) and (min-width: 481px) {
    .header{
        height:50vh;
     }
 
     .img{
         width: 200px;
         height: 200px;
     }
 
     .circle1{
         width: 150px;
         height: 150px;
         top: 85%;
         left: 10%;
     }
 
     .circle2{
         width: 150px;
         height: 150px;
         top: 80%;
         left: 40%;
     }
 
     h1{
         font-size: 20px;
         transform: translate(0, 150px);
     }

     .header a{
        transform: translate(0, 200px);
    }
}
