.skill{
    width: 47%;
    margin: 5px;
}

.bg-light-pink{
    background-color: #da9898;
}

@media screen and (max-width: 992px) {  
    .skill{
       width: 100%;
    }
}


@media screen and (max-width: 480px) and (min-width: 320px) {
   
}

@media screen and (max-width: 900px) and (min-width: 481px) {
   
}
