.footer{
    height: 80px;
    background-color: #4b2121;
}

.text-light-pink{
    color: #da9898;
}


@media screen and (max-width: 480px) and (min-width: 320px) {
   
}

@media screen and (max-width: 900px) and (min-width: 481px) {
   
}